---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog");

  return blogPosts.map(bp => {
    return {
      params: { slug: bp.slug },
      props: { post: bp },
    };
  });
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await post.render();

const author = (await getEntry("author", post.data.author.id)).data;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <h4>{frontmatter.author}</h4>

  <div>
    <Image src={author.avatar} alt={author.name} width={160} height={160}/>
  </div>

  <Image src={frontmatter.image} alt={frontmatter.title} width={600} height={220} class="object-cover w-full h-[250px] my-5 rounded-md" transition:name={`${post.slug}-image`} />

  <h3>Tabla de contenidos</h3>
  <ol>
    {
      headings.map((h, i) => {
        return (
          <li>
            <a href={`#${h.slug}`}>{h.slug}</a>
          </li>
        );
      })
    }
  </ol>

  <Content />
</Layout>
