---
import {Formatter} from '@utils/formatter'
// interface Props {
//   imgSrc: string;
//   description: string;
//   date: string;
// }

const { frontmatter, url } = Astro.props;
const { description, image, title, date } = frontmatter;
---

<div class="lg:flex">
  <figure>
    <a href={url}>
      <img class="object-cover w-full h-56 rounded-lg lg:w-64" src={image} alt={title} />
    </a>
  </figure>
  <div class="flex flex-col justify-between py-6 lg:mx-6">
    <a href={url} class="text-xl font-semibold text-gray-800 hover:underline dark:text-white">
      {description}
    </a>

    <span class="text-sm text-gray-500 dark:text-gray-300">On: {Formatter.formatDate(date)}</span>
  </div>
</div>
